@font-face {
    font-family: 'Gotham Black';
    src: url('/fonts/Gotham-Black.woff2') format('woff2'),
         url('/fonts/Gotham-Black.woff') format('woff'),
         url('/fonts/Gotham-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}